$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;

$border: #69B0AC; // 模块边框颜色
$boederRadius: 5px; // 模块圆角
$bottom-border:	#DCDCDC; // 图表头部底边
$text-border: #409EFF; // 文字边框颜色
$dashboard-container: #F5F5F5;
$itemBg: #fff; // 模块背景颜色

